<!DOCTYPE html>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000080;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #000080;
}
</style>
</head>
<body>

<ul>
  <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="/view"><i class="fa fa-bars"></i> List Records</a></li>
  <li><a href="/search"><i class="fa fa-fw fa-search"></i>Employees Leave Details</a></li>
  <li><a href="/statistic"><i class="fa fa-area-chart"></i>Leave Type Statistic</a></li>
  <li><a href="/update"><i class="fa fa-area-chart"></i>Leave Status Statistic</a></li>
  <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
  <!--<li><a href="#about">About</a></li>-->

</ul>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
   
    <div id="container" style="background: #e3e3e3;width: 30%;margin-left: 20px;text-align: center;margin-bottom: 40px;"></div>
	<table class="w3-table w3-bordered">
		<tr> 
			<td><h4>Employees List</h4></td> 	
		</tr>
        {% for row in rows %}  
            <tr>  
                <td>{{row["email"]}}</td>
            </tr>  
          
        {% endfor %}  
    </table> 
    <div id="table"></div>
	
</body>

    </html>  

